.DS_Store
node_modules/**/*
.exponent/**/*
.expo/**/*
npm-debug.*
env.js
env.ts
.env
yarn-error.log
.vscode/*
coverage
env.js.bak
env.js.old
env.ts.bak
env.ts.old
app.json.bak
app.json.old
e2e/Exponent-*.app
e2e/*.app
e2e/*.app.zip
e2e/screenshots
test-report.xml
docdok-simulator.tar.gz