init.author.name=developer
init.author.email=developer@e-medicus.ch
email=developer@e-medicus.ch
_auth=ZGV2ZWxvcGVyOnZlcnkgY29tcGxpY2F0ZWQ=
always-auth=true
registry=https://nexus3.dev.docdok.ch/repository/npm-all/